@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Galvarino Workflow</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">

    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="/lib/css/nifty.min.css" rel="stylesheet">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="/lib/css/demo/nifty-demo-icons.min.css" rel="stylesheet">

    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="/lib/css/pace.min.css" rel="stylesheet">
    <script src="/lib/js/pace.min.js"></script>


    <!--Demo [ DEMONSTRATION ]-->
    <link href="/lib/css/demo/nifty-demo.min.css" rel="stylesheet">

</head>
<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <img src="~/images/logo-big.png" alt="Galvarino Logo" style="max-width:300px;">
                        <p>Logueate para poder ingresar a la App</p>
                    </div>
                    <form id="form-usuario-generico">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Rut" name="Identificacion" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Clave" name="Llave">
                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">Recuerdame</label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Acceder</button>
                    </form>
                </div>
            </div>
        </div>
        <!--===================================================-->




    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="/lib/js/jquery.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="/lib/js/bootstrap.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="/lib/js/nifty.min.js"></script>
    <script src="/js/main.min.js"></script>
    <script>$(function(){
            $('#form-usuario-generico').on('submit', function(event){
                event.preventDefault();
                let model = $(this).serializeFormJSON();

                console.log({model});
                $.ajax({
                    type: "POST",
                    url: `/api/auth/challenge`,
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8"
                }).done(function (data) {

                    location.href="/wf/v1/mis-solicitudes"

                }).fail(function (errMsg) {
                    $.niftyNoty({
                        type: "warning",
                        container: "floating",
                        title: "Problemas",
                        message: "Revisa los Logs<br/><small>Este mensaje se cierra en 5 segundos.</small>",
                        closeBtn: true,
                        timer: 5000
                    });
                });
            });
        });</script>
    <!--=================================================-->
</body>
</html>
